
.main-container {
    margin: 0 5vw;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
}

.info-image {
    height: 22vw;
    border-radius: 0.5rem;
    margin-top: 4rem;
    box-shadow: 0 0.1rem 0.1rem black;
    transition: 0.25s;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4vw;
    margin-top: 4vw;
}


.info-textbox {
    padding: 1vw;
    width: 50vw;
}


.links-box {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
    width: fit-content;
}

.dark .links-box {
    background-color: rgb(33, 33, 33);
}

.link {
    font-size: 1.5rem;
    color: rgb(87, 87, 195);
    text-decoration: underline;
}

.link:hover {
    color: grey;
}

@media (orientation: portrait) {

    .info-textbox {
        width: 80vw;
    }

    .links-box {
        margin: 0rem 0rem 4rem 1.5rem;
        width: 90%;
    }

    .info-image {
        height: 60vw;
    }
}
