
.info-image {
    height: 70%;
    width: 36rem;
    border-radius: 0.5rem;
    margin-left: 6rem;
    margin-top: 4rem;
    box-shadow: 0 0.1rem 0.1rem black;
    transition: 0.25s;
}

.info-textbox {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
    width: 90%;
    margin: 2rem 0rem 9rem 6rem;
}

.links-box {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
    width: 25%;
    margin: 4rem 6rem 10rem 4rem;
    height: 10rem;
    display: grid;
    justify-content: center;
}

.dark .info-textbox {
    background-color: black;
}

.dark .links-box {
    background-color: black;
}

.link {
    font-size: 1.5rem;
    text-decoration: underline;
}

.link:hover {
    color: grey;
}

@media (orientation: portrait) {
    .info-image {
        display: none;
    }

    .info-textbox {
        margin: 5rem 0rem 1rem 1.5rem;
    }

    .links-box {
        margin: 0rem 0rem 4rem 1.5rem;
        width: 90%;
    }
}
