
.contact {
    margin-bottom: 4rem;
    margin-top: 10rem;
    display:grid;
    align-items: center;
    background-color: lightgray;
}

.contact-main {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 18vh;
    justify-content: center;
}


.send-button {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    border: none;
    width: 10rem;
    display: inline-block;
    padding: 10px 30px;
    margin: 1.5rem 2rem 1rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0.45rem 0 gray;
    transition: transform 0.2s ease;
}

.send-button:hover {
    color: grey;
    transform: translateY(2px);
}

textarea {
    width: 80%;
    height: 10rem;
    border-radius: 1rem;
    border: 0.1rem solid grey;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
}


  