
.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-icons {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 2rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    height: 5rem;
    cursor: pointer;
}

.contact-icon:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.icon-tooltip {
    position: relative;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    width: fit-content;
    opacity: 0;
    left: 0;
    bottom: 0;
}

.dark .icon-tooltip {
    background-color: rgb(33, 33, 33);
}

.icon-box:hover .icon-tooltip  {
    opacity: 1;
    transition: 0.5s;
}

.contact {
    background-color: white;
    border-radius: 0.5rem;
    width: fit-content;
}

.google-form {
    width: 80vw;
}

.dark .contact {
    background-color: #333;
}