.about {
    display: flex;
    align-items: center;
}

.textbox {
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem grey;
    width: 40%;
    margin-left: 8rem;
    margin-top: 4rem;
}

.container {
    display: flex;
    align-items: center;
}

.ai-container {
    display: flex;
    /* padding-left: 3.5rem; */
}

.vektor-container {
    display: flex;
}

.vektor-textbox {
    margin-right: 8rem;
}

.sparetime-container {
    display: flex;
}

.sparetime-text {
    width: 150%;
    margin-bottom: 10rem;
    margin-top: 8rem;
}

.courses-textbox {
    width: 200rem;
}

.dark .textbox {
    background-color: black;
}

.icon {
    width: 30%;
    height: 10%;
}

.icon-container {
    margin-left: 10rem;
    margin-top: 5rem;
}

.hidden {
    opacity: 0;
    filter: blur(0.4rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

p {
    padding: 1rem;
}

h1 {
    padding: 1rem;
    font-size: 1.5rem;
}

.image {
    height: 14rem;
    border-radius: 2rem;
    margin-left: 12rem;
    margin-top: 4rem;
    box-shadow: 0 0.5rem 0.5rem grey;
}

.black-ai {
    z-index: -2;
}

.white-ai {
    position: fixed;
    z-index: -1;
}

.dark .white-ai {
    z-index: -1000;
}

.it-vektor {
    width: 40rem;
    height: 27.5rem;
}

.sevenaside {
    width: 35rem;
    height: 24.5rem;
    margin-right: 8rem;
    margin-bottom: 5rem;
}

.arrow {
    position: fixed;
    top: 4rem;
    left: 21rem;
    rotate: 50deg;
}

@media (max-width: 700px) {

    .container {
        display: grid;
        justify-content: center;
    }

    .image {
        display: none;
    }
    .icon-container {
        display: none;
    }

    .arrow {
        display: none;
    }
    .textbox {
        width: 94%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .vektor-textbox {
        width: 94%;
        margin-right: 0rem;
    }

    .sparetime-text {
        margin-bottom: 5rem;
        margin-top: 4rem;
    }
    
    .courses-textbox {
        width: 94%;
    }

}