
.textbox {
    width: 40vw;
    margin-top: 4rem;
    padding: 1vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vw;
}

.icon {
    width: 10vw;
}

.icon-container {
    display: flex;
    margin-top: 5vw;
}

.hidden {
    opacity: 0;
    filter: blur(0.4rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

h1 {
    padding: 1rem;
    font-size: 1.5rem;
}

.image {
    height: 16rem;
    border-radius: 0.5rem;
    margin-top: 4vw;
    box-shadow: 0 0.1rem 0.1rem black;
}

.it-vektor {
    height: 24rem;
}

.sevenaside {
    height: 22rem;
}

@media (orientation: portrait) {

    .black-ai, .white-ai, .icon-container {
        display: none;
    }

    .textbox {
        width: 94%;
    }

}