
.checkbtn {
    float: left;
    line-height: 80px;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
}

.check {
    display: none;
}

.pic {
    height: 3rem;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: flex-end;
    border-radius: 1rem;
}

button {
    font-size: 1.2rem;
    color: rgb(33, 33, 33);
    text-decoration: none;
    width: auto;
    padding: 10px 30px;
    margin: 1.5rem 2rem 1rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.dark button {
    background-color: inherit;
    color: white;

}

button:hover {
    color: grey;
    transform: translateY(2px);
}

.selected {
    border-radius: 0.5rem;
    border: solid 0.1rem rgb(33, 33, 33);
}

.dark .selected {
    border: solid 0.1rem white;
}

.toggle {
    appearance: none;
    width: 3rem;
    height: 3rem;
    padding: 0.4rem 0 0 0.75rem;
    cursor: pointer;
    transition: 1s;
    margin-top: 1.7rem;
    margin-right: 2rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.dark .toggle {
    background-color: rgb(33, 33, 33);
}

.toggle:hover {
    background-color: rgb(33, 33, 33);
    border: none;
}

.dark .toggle:hover {
    background-color: white;
}

.toggle:after {
    width: 32px;
    height: 26px;
    content: '\1F319';
    font-size: 24px;
}

.toggle:checked:after {
    content: '\1F506';
}

@media (orientation: portrait) {
    .checkbtn {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 4rem 4rem 4rem 1fr;
        justify-content: center;
        background-color: rgb(234, 234, 234);
        top: 5rem;
        left: -100%;
        padding: 0;
        z-index: 100;
        text-align: center;
        transition: all 0.5s;
    }

    .dark .menu {
        background-color: rgb(33, 33, 33);
    }

    .marg {
        display: flex;
        justify-content: start;
    }

    .check:checked ~ .menu{
        left: 0;
    }

}