
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5vw;
}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
}

.project-image {
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgb(130, 130, 130);
    cursor: pointer;
    transition: 0.25s;
}

.project-image:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0.5rem 0.5rem rgb(177, 177, 177);
}

.dark .project-image {
    box-shadow: none;
}

 .tooltip {
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    width: fit-content;
    opacity: 0;
    z-index: 100;
}

.tooltip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tooltip-container:hover .tooltip  {
    opacity: 1;
    transition: 0.5s;
}

.rectangle-image {
    height: 22rem;
}

.portrait-image {
    width: 22rem;
    margin-top: 0;
}

.square-image {
    width: 20rem;
    margin-top: 0;
}

@media (orientation: portrait) {
    .image-container {
        gap: 2rem;
    }

    .rectangle-image {
        height: 12rem;
    }

    .portrait-image {
        width: 15rem;
    }

    .square-image {
        width: 15rem;
    }

    .tooltip {
        opacity: 1;
        box-shadow: none;
    }
}