
.top-container {
    display: flex;
}

.bottom {
    display: flex;
}

.project-image {
    border-radius: 2rem;
    margin-left: 4.5rem;
    margin-top: 4rem;
    box-shadow: 0 0.5rem 0.5rem grey;
    cursor: pointer;
    transition: 0.25s;
}

.project-image:hover {
    box-shadow: 0 1rem 1rem grey;
    transition: 0.25s;
}

.tooltip {
    background-color: lightgrey;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    box-shadow: 0 0.5rem 0.5rem grey;
}

.top {
    display: grid;
    justify-content: center;
}

.top .tooltip {
    position: relative;
    left: 13rem;
    top: -0.5rem;
    width: 20rem;
    opacity: 0;
}

.top:hover .tooltip  {
    opacity: 1;
    transition: 0.5s;
}

.top-image {
    height: 22rem;
}

.top-image:hover {
    height: 23rem;
}

.bottom-left .tooltip {
    position: relative;
    left: 8rem;
    width: 20rem;
    opacity: 0;
}

.bottom-left:hover .tooltip {
    opacity: 1;
    transition: 0.5s;
}

.bottom-left-image {
    height: 46rem;
    margin-top: 0;
}

.bottom-left-image:hover {
    height: 47rem;
}

.bottom-right .tooltip {
    position: relative;
    left: 5.5rem;
    width: 20rem;
    opacity: 0;
}

.bottom-right:hover .tooltip {
    opacity: 1;
    transition: 0.5s;
}

.bottom-rigth-image {
    height: 21rem;
    margin-top: 0;
}

.bottom-rigth-image:hover {
    height: 22rem;
}

.bottom-container {
    display: flex;
    padding-bottom: 5rem;
}

@media (max-width: 700px) {

    .tooltip {
        font-size: 1rem;
    }

    .project-image {
        margin: 1rem 1rem 0rem 1rem;
    }

    .top-container {
        display: grid;
    }

    .top-image {
        height: 12rem;
    }

    .top-image:hover {
        height: 12rem;
    }


    .top .tooltip {
        left: 2rem;
        width: 17rem;
        opacity: 1;
    }

    .bottom-container {
        display: grid;
    }

    .bottom {
        display: grid;
    }

    .bottom-left-image {
        height: 40rem;
        margin-top: 0;
    }
    
    .bottom-left-image:hover {
        height: 40rem;
    }

    .bottom-left .tooltip {
        position: relative;
        left: 2rem;
        top: 43rem;
        width: 20rem;
        opacity: 1;
    }

    .bottom-right .tooltip {
        position: relative;
        left: 1.5rem;
        top: 25rem;
        width: 20rem;
        opacity: 1;
    }

  

    
}