
.footer {
    background-color: green;
    height: 10rem;
}


.dark .footer {
    background-color: black;
}

.to-top {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    border: 0.2rem solid white;
}

.dark .to-top {
    border: 0.2rem solid grey;

}

html {
    scroll-behavior: smooth;
}