
.footer {
    display: flex;
    justify-content: right;
}

.to-top {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 3rem;
    width:  3rem;
    position: relative;
    bottom: 3vh;
    right: 1rem;
    font-size: 3rem;
    color: rgb(33, 33, 33);
    border: 0.2rem solid white;
    border-radius: 100%;
    cursor: pointer;
}

.dark .to-top {
    border: 0.2rem solid gray;
    background-color: rgb(33, 33, 33);
    color: white
}

.to-top:hover {
    transform: translateY(-2px);
    transition: 0.5s;
    color: grey;
}

html {
    scroll-behavior: smooth;
}